{% extends 'base.html' %}
{% block title %} | Home {% endblock  %}
{% load static %}
{% load humanize %}
{% block content %}
    <!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner text-center">
            <div class="carousel-item banner-max-height active item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/car-1.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Wow Factor Standard</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your dream Interior.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/car-2.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>Explore Your Dream Interior.</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your dream interior.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
            <div class="carousel-item banner-max-height item-bg">
                <img class="d-block w-100 h-100" src="{% static 'img/car-3.jpg' %}" alt="banner">
                <div class="carousel-content container banner-info-2 bi-2 text-left">
                    <h3>We Are You Wheel</h3>
                    <h5>Allow us to guide you through the innovative stress<br>
                        free approach in finding your dream interior.</h5>
                    <a href="{% url 'services' %}" class="btn btn-lg btn-theme">Read more</a>
                </div>
            </div>
        </div>
        <!-- Search box 3 start -->
       <!-- <div class="search-box-4 sb-8">
            <form action="{% url 'search' %}" method="">
                <div class="form-group">
                    <input type="text" name="keyword" placeholder="Search by name" class="form-control">
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="condition">
                        <option selected="true" disabled="disabled">Condition</option>
                        {% for condition in condition_search %}
                            <option value="{{condition}}">{{condition}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="body_style">
                        <option selected="true" disabled="disabled">Body Style</option>
                        {% for body_style in body_style_search %}
                            <option value="{{body_style}}">{{body_style}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="city">
                        <option selected="true" disabled="disabled">City</option>
                        {% for city in city_search %}
                            <option value="{{city}}">{{city}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="year">
                        <option selected="true" disabled="disabled">Year</option>
                        {% for year in year_search %}
                            <option value="{{year}}">{{year}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="color">
                        <option selected="true" disabled="disabled">Select Color Of Furniture</option>
                        {% for color in color_search %}
                            <option value="{{color}}">{{color}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="range-slider clearfix">
                                <label>Price</label>
                                <div data-min="0" data-max="7000000"  data-min-name="min_price" data-max-name="max_price" data-unit="UGX" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                <div class="form-group">
                    <button class="btn btn-block button-theme btn-md">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </form>
        </div> -->
        <!-- Search box 3 end -->
        <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>
<!-- Banner end -->

<!-- Search box 2 end -->

<!-- Featured interior start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Featured <span>Interiors</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for feature in featured %}
                    <div class="slick-slide-item">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="car-details.html" class="car-img">
                                    <div class="tag-2">Featured</div>
                                    <!--<div class="price-box">
                                        <span class="del"><del>UGX805.00</del></span>
                                        <br>
                                        <span>UGX {{feature.price | intcomma}}</span>
                                    </div> -->
                                    <img class="d-block w-100" src="{{feature.photo.url}}" alt="Furniture" style="min-height: 262px; max-height: 262px;">
                                </a>
                                <div class="carbox-overlap-wrapper">
                                    <div class="overlap-box">
                                        <div class="overlap-btns-area">
                                            <div class="car-magnify-gallery">
                                                <a href="{{feature.photo.url}}" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="{{feature.photo.url}}">
                                                </a>
                                                {% if faeture.photo_1 %}
                                                <a href="{{feature.photo_1.url}}" class="hidden">
                                                    <img class="hidden" src="{{feature.photo_1.url}}">
                                                </a>
                                                {% endif %}
                                                {% if faeture.photo_2 %}
                                                <a href="{{feature.photo_2.url}}" class="hidden">
                                                    <img class="hidden" src="{{feature.photo_2.url}}">
                                                </a>
                                                {% endif %}
                                                {% if faeture.photo_3 %}
                                                <a href="{{feature.photo_3.url}}" class="hidden">
                                                    <img class="hidden" src="{{feature.photo_3.url}}">
                                                </a>
                                                {% endif %}
                                                {% if faeture.photo_4 %}
                                                <a href="{{feature.photo_4.url}}" class="hidden">
                                                    <img class="hidden" src="{{feature.photo_4.url}}">
                                                </a>
                                                {% endif %}
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="{% url 'store_detail' feature.id %}">{{feature.title}}</a>
                                </h1>
                                <div class="location">
                                    <a href="{% url 'store_detail' feature.id %}">
                                        <i class="flaticon-pin"></i>{{feature.village}} . {{feature.city}},
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>{{feature.color}}</li>
                                    <li>{{feature.year}}</li>
                                    <li>{{feature.body_style}}</li>
                                    <li>{{feature.condition}}</li>
                                    <li>{{feature.number_seats}}</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="slick-btn">
                <div class="slick-prev slick-arrow-buton sab-4">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="slick-next slick-arrow-buton sab-3">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured Interior end -->

<!-- Rent Interior start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Latest <span>Interiors</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {% for all_store in all_stores %}
            <div class="col-lg-4 col-md-6">
                <div class="car-box">
                    <div class="car-thumbnail">
                        <a href="car-details.html" class="car-img">
                            <div class="tag">For Sale</div>
                            <img class="d-block w-100" src="{{ all_store.photo.url }}" alt="All Furniture" style="min-height: 262px; max-height: 262px;">
                            <div class="facilities-list clearfix">
                                <ul>
                                    <li>
                                        <span><i class="flaticon-way"></i></span>{{all_store.number_seats}}
                                    </li>
                                    <li>
                                        <span><i class="flaticon-calendar-1"></i></span>{{all_store.year}}
                                    </li>
                                    <li>
                                        <span><i class="flaticon-manual-transmission"></i></span>{{all_store.color}}
                                    </li>
                                </ul>
                            </div>
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        <a href="{{ all_store.photo.url }}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{ all_store.photo.url }}">
                                        </a>
                                        {% if all_store.photo_1 %}
                                        <a href="{{ all_store.photo_1.url }}" class="hidden">
                                            <img class="hidden" src="{{ all_store.photo_1.url }}">
                                        </a>
                                        {% endif %}
                                        {% if all_store.photo_2 %}
                                        <a href="{{ all_store.photo_2.url }}" class="hidden">
                                            <img class="hidden" src="{{ all_store.photo_2.url }}">
                                        </a>
                                        {% endif %}
                                        {% if all_store.photo_3 %}
                                        <a href="{{ all_store.photo_3.url }" class="hidden">
                                            <img class="hidden" src="{{ all_store.photo_3.url }}">
                                        </a>
                                        {% endif %}
                                        {% if all_store.photo_4 %}
                                        <a href="{{ all_store.photo_4.url }g" class="hidden">
                                            <img class="hidden" src="{{ all_store.photo_4.url }}">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'store_detail' all_store.id %}">{{all_store.title}}</a>
                        </h1>
                        <div class="location">
                            <a href="{% url 'store_detail' all_store.id %}">
                                <i class="flaticon-pin"></i>{{all_store.village}}. {{all_store.city}},
                            </a>
                        </div>
                    </div>
                    <!-- <div class="footer clearfix">
                        <div class="pull-left ratings days">
                            <p class="cartype">{{all_store.body_style}}</p>
                        </div>
                        <div class="pull-right">
                            <p class="price">UGX {{all_store.price | intcomma}}</p>
                        </div>
                    </div>-->
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Rent Interior end -->


<!-- Our team start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                           
               {% for team in teams %}
               
               <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="{{ team.photo.url }}" alt="team-1" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="{{ team.facebook_link }}" target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="{{ team.twitter_link }}" target="_blank" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="{{ team.linkedin_link }}" target="_blank" class="linkedin-bg"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="team-detail.html">{{ team.last_name }} {{ team.first_name }}</a></h4>
                            <h5>{{ team.designation }}</h5>
                        </div>
                    </div>
                </div>

               {% endfor %}                         
                
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->

<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="{% url 'contact' %}" class="btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>
<!-- Intro section end -->

{% endblock %}
 



