{% load static %}
<!-- Chat popup -->>
<div id="open" class="shadow-sm rounded-circle open-bottom-right"><img src="{% static 'img/whatsapp.png' %}" width="70"></div>

<div id="form" class="card shadow-sm border-0 form-bottom-right d-none">
    <div class="card-header bg-success text-white">
        <span class='text-white'>Live Chat</span>
        <button type="button" class="close" aria-label="Close">
            <span id="close" class="float-right text-white cursor-pointer">&times;</span>
        </button>
    </div>
    <div class="card-body bg-light pb-0">
        <div class="form-group">
            <div class="alert alert-info bg-white border-0 shadow-sm p-3">Hello, how can we help you?</div>
        </div>
    </div>
    <div class="card-footer border-0 bg-white">
        <div class="input-group flex-nowrap">
            <textarea id="messages" class="form-control shadow-none" rows="3" autofocus></textarea>
            <div class="input-group-prepend" target="_blank">
                <span class="input-group-text bg-transparent border-0" id="send"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-send " viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                  </svg></span>
            </div>
        </div>
    </div>
</div>


